Django>=1.9,<1.10
celery>=3.1,<4.0
wagtail>=1.9,<1.10
Markdown
configobj
django-annoying
django-assets
django-async-messages
django-bitfield
django-bootstrap-form
django-braces
django-celery
django-csp>3.0
django-extensions
django-formtools
django-mptt
django-otp
django-ratelimit-backend
django-sendfile
django-session-csrf
django-sudo
django-two-factor-auth>=1.5.0
django-watson>=1.2.0
factory-boy
jsmin
lxml
markdown-newtab
premailer
progress
psycopg2
pytz
simplejson
git+https://github.com/moggers87/salmon@41387e40d2e363dc2a9110722ba41a842de75eda#egg=salmon
